# PRODUCCIÓN - Variables requeridas en Vercel
MONGODB_URI=mongodb+srv://Tortu:Las40org@landingpagenahuel.pdccomn.mongodb.net/?retryWrites=true&w=majority&appName=landingPageNahuel
GOOGLE_CLIENT_ID=543877130645-56odc6i9t4oh1p14lfb0khbju43qnb8c.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_URL=https://lozanonahuel.vercel.app
NEXTAUTH_SECRET=f70b42e43a8d38f5a27e480d15abf110241bbe7a5797ec8b3934afc173161409
MUX_TOKEN_ID=e6682ca2-780d-400f-b171-ab0cac3e25e9
MUX_TOKEN_SECRET=ztFXVkI4F6dK7LNyxKsQGRouZfo/TwhcehcD3edOJo3hRyuXkGk61ciMkm/NwZ/BfxqUJCNUwgv
SMTP_USER=joaquinperez028@gmail.com
SMTP_PASSWORD=cnhc octh ipjw wony
ADMIN_EMAIL=joaquinperez028@gmail.com
CLOUDINARY_CLOUD_NAME=dde7d2r7x
CLOUDINARY_API_KEY=725183333359711
CLOUDINARY_API_SECRET=Sv-7aW2mV9HOau8Pr40gyf9pdio

# Google Calendar
GOOGLE_CALENDAR_ID=joaquinperez028@gmail.com
GOOGLE_CALENDAR_TIMEZONE=America/Montevideo

# MercadoPago Configuration
MP_PUBLIC_KEY=TEST-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MERCADOPAGO_ACCESS_TOKEN=TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MERCADOPAGO_WEBHOOK_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# OPCIONAL - Pueden ser placeholders por ahora.
STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_PUBLISHABLE_KEY=pk_test_placeholder
MOBBEX_API_KEY=placeholder
MOBBEX_ACCESS_TOKEN=placeholder
GOOGLE_SHEETS_CLIENT_EMAIL=placeholder
GOOGLE_SHEETS_PRIVATE_KEY=placeholder
GOOGLE_SHEETS_SPREADSHEET_ID=placeholder
EMAIL_USER=placeholder
EMAIL_PASS=placeholder

ADMIN_GOOGLE_ACCESS_TOKEN=ya29.a0AW4XtxhAvAUz_WvDypgwPec5IFgglUtLBIRohq_gCKMKG-kc0Mbtm1y1Y6OOy83kUDdSSgwClsW9PVtfzlEmQ_Ar8saU5FV6cbyUKul61IrEwb99NpyJQ0kCTAtd5up9ofH-TE4ZMH7MZW2xgUKx0915KFOCzUlXgsi3duJxaCgYKAWsSARQSFQHGX2Miabqsbt1d8vyJ_RzXJptXLw0175
ADMIN_GOOGLE_REFRESH_TOKEN=1//04V1SrIIY7BhNCgYIARAAGAQSNgF-L9IrZ5pk0vJAIzcjNYlM6O9K0SNlb_lpc9k5gptO_YuRsI974nkgj6awMAEQV_8tH-DnLQ